html {
    font-size: 62.5%; /* 10px browser default */
}

body {
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Open Sans";
    font-weight: 300;
    margin: 0 0;
}

.world-map-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.world-map-container h1 {
    text-align: center;
    font-weight: 700;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0;
    line-height: 6.4rem;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 0.2s ease-in;
}

.world-map-container .intro-fade {
    transition-duration: 5s;
    opacity: 0;
}

.world-map-container h1:hover {
    opacity: 0.9;
    transition-duration: 0.2s
}


.world-map-container h2 {
    position: relative;
    top: 7rem;
    left: 0;
    width: 100%;
}

.world-map-container svg {
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: all-scroll;
}

#world-map-overlay  .stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
}

#world-map-overlay  .fill {
    fill: none;
}

#world-map-overlay  .graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
}

#world-map-overlay .land {
    fill: #2b2d28;
}

#world-map-overlay .boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}
g.map-canvas.on-gpu {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    transition: all 0.1s linear;
}

.tip {
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(0,0,0, 0.8);
    color: #fff;
    z-index: 99999999;
    padding: 2rem 4rem;
    font-size: 2rem;
    width: 40rem;
    margin: 0 0;
    pointer-events: none;
    transition: all 1s ease-in-out;
}

.tip.hidden {
    opacity: 0;
}


.data-point {
    cursor: pointer;
    fill: #FFE498;
    stroke: none;
    /*fill: #369bff;
    stroke: #276ab1;*/
    stroke-width: 1;
}

.data-point.callout-point {
    fill: #ff024d;
    stroke: #ffa5a2;
}

.data-point.callout-point:hover {
    fill: #ff024d ;
    stroke: #ff024d;
}

.data-point:hover {
    fill: #276ab1;
    stroke: #369bff;
}

.world-map-vis {
    position: relative;
}

.world-map-vis .bttn {
    color: #fff;
    border: solid 1px #ccc;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 100000;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.bttn.reset-zoom-bttn {
    top: 2rem;
    right: 2rem;
}

.bttn.map-res-bttn {
    top: 2rem;
    left: 2rem;
    color: #FFE498;
    border-color: #FFE498;
}

.bttn.inactive {
    color: #888;
    border-color: #888;
}

.bttn.inactive:hover {
    color: #fff;
    border-color: #fff;
}

/* Tooltip */
.d3-tip {
    display: none;
    line-height: 1.4rem;
    z-index: 99999999;
    font-weight: 300;
    padding: 1.2rem;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    width: 30rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.8rem;
    pointer-events: none;
    -webkit-box-shadow: 0px 0px 40px 2px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 40px 2px rgba(255,255,255,1);
    box-shadow: 0px 0px 40px 2px rgba(255,255,255,1);
}

.d3-tip p {
    margin: 0 0;
}

.d3-tip strong {
    color: #6effa1;
}

.d3-tip.animate {
    display: block;
     animation: bounceIn 0.2s ease-out;
     -webkit-animation: bounceIn 0.2s ease-out;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\25C0";
    margin: -3px 0 0 0;
    top: 50%;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px 0;
    top: -8px;
    left: 0;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    margin: -3px 0 0 -1px;
    top: 50%;
    left: 100%;
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* PONG Styles */
.pong-visualization {
    padding: 1rem 1rem;
}
.card {
    display: inline-block;
    width: 33.3%;
    border: none;
    vertical-align: top;
}
.card h3 {
    text-align: center;
    margin-top: 0.5rem;
}

.card .profile-img {
    width: 7rem;
    height: 7rem;
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    border: solid 2px #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.card .profile-img > img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.canvas-container {
    width: 320px;
    height: 240px;
}
.pong-game-container .canvas-container {
    margin: 0 auto;
    color: #fff;
}

.pong-game-container .canvas-body {
    position: relative;

}

.fps-container {
    text-align: center;
}



.pong-game-container .canvas-hud {
    position: absolute;
    top: 0;
    left:0;
}
