html {
    font-size: 62.5%; /* 10px browser default */
}

body {
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    font-family: "Open Sans";
    font-weight: 300;
}

.world-map-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.world-map-container h1 {
    text-align: center;
    font-weight: 700;
}