<div class="pong-visualization">
    <div class="row">
        <div class="card profile">
            <div class="profile-img arnold">
                <img src="images/arnold.jpg">
            </div>
            <div class="profile-header">
                Arnold (Artificial Intelligence)<br />
                <em data-ng-bind="pongCtrl.players[1].score()"></em>
            </div>
            <character-stats-bar-chart data-data="pongCtrl.players[1].characteristics()"></character-stats-bar-chart>

        </div><!--
     --><div class="card">
            <div class="player-action-overlay"
                 data-ng-class="{show: pongCtrl.gameOverlay.show, taunt: pongCtrl.gameOverlay.isPlayerTaunt, arnold: pongCtrl.gameOverlay.playerTarget === 'Arnold', duke: pongCtrl.gameOverlay.playerTarget !== 'Arnold'}">
                <div data-ng-if="pongCtrl.gameOverlay.playerTarget === 'Arnold'" class="overlay">
                    <div class="profile-img arnold" data-ng-if="pongCtrl.gameOverlay.isPlayerTaunt">
                        <img src="images/arnold-angry.jpg">
                    </div>
                    <div class="profile-img arnold" data-ng-if="! pongCtrl.gameOverlay.isPlayerTaunt">
                        <img src="images/arnold.jpg">
                    </div>
                    <div class="profile-header" data-ng-bind="pongCtrl.gameOverlay.message"></div>
                </div>
                <div data-ng-if="pongCtrl.gameOverlay.playerTarget === 'Duke'" class="overlay">
                    <div class="profile-img duke"  data-ng-if="pongCtrl.gameOverlay.isPlayerTaunt">
                        <img src="images/duke-angry.jpg">
                    </div>
                    <div class="profile-img duke"  data-ng-if="! pongCtrl.gameOverlay.isPlayerTaunt">
                        <img src="images/duke.jpg">
                    </div>
                    <div class="profile-header" data-ng-bind="pongCtrl.gameOverlay.message"></div>
                </div>
            </div>
            <div class="pong-game-container">
                <pong-canvas>
                </pong-canvas>
            </div>
        </div><!--
     --><div class="card profile">
            <div class="profile-img duke">
                <img src="images/duke.jpg">
            </div>
            <div class="profile-header">
                Duke (Artificial Intelligence)<br />
                <em data-ng-bind="pongCtrl.players[0].score()"></em>
            </div>
            <character-stats-bar-chart data-data="pongCtrl.players[0].characteristics()"></character-stats-bar-chart>
        </div>
    </div>
    <div class="row">
        <div class="card large">
            <character-heat-map data-data="pongCtrl.playerWinHistory" data-play-count="pongCtrl.playCount"></character-heat-map>
        </div>

    </div>
</div>