<div class="pong-visualization">
    <div class="row">
        <div class="card profile">
            <div class="profile-img">
                <img src="images/arnold.jpg">
            </div>
            <div class="profile-header">
                Arnold (Artificial Intelligence)<br />
                <em>0</em>
            </div>

        </div><!--
     --><div class="card">
            <div class="pong-game-container">
                <pong-canvas>
                </pong-canvas>
            </div>
        </div><!--
     --><div class="card profile">
            <div class="profile-img">
                <img src="images/duke.jpg">
            </div>
            <div class="profile-header">
                Duke (Artificial Intelligence)<br />
                <em>0</em>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>