<div class="pong-visualization">
    <div class="row">
        <div class="card">
            <div class="profile-img">
                <img src="images/arnold.jpg">
            </div>
            <h3>Arnold</h3>

        </div><!--
     --><div class="card">
            <div class="pong-game-container">
                <pong-canvas>
                </pong-canvas>
            </div>
        </div><!--
     --><div class="card">
            <div class="profile-img">
                <img src="images/duke.jpg">
            </div>
            <h3>Duke</h3>
        </div>
    </div>
    <div class="row">

    </div>
</div>