<div class="bar-chart">

    <ul class="legend">
        <li class="legend-option">
            <div class="legend-swatch skill"></div> Skill
        </li>
        <li class="legend-option">
            <div class="legend-swatch energy"></div> Energy
        </li>
        <li class="legend-option">
            <div class="legend-swatch confidence"></div> Confidence
        </li>
        <li class="legend-option">
            <div class="legend-swatch aggression"></div> Aggression
        </li>
        <li class="legend-option">
            <div class="legend-swatch luck"></div> Luck
        </li>

    </ul>
</div>